body {
    color: cadetblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: chartreuse;
    font-family: arial;
    color: cornsilk;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}

#tagline {
    margin-left: 200px;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: black solid 1px;
    margin: 10 auto;
}

#container h1{
    font-size: 30px;
}

#cabecera {
    font-size: 20px;
}

#logo {
    vertical-align: middle;
     }
#footer {
    background: #777;
    color: white;
    text-align: center;
}